@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ol,
ul {
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, #000000, #25367c);
  background-repeat: no-repeat;
  font-family: "adobe-garamond-pro", serif;
  color: #FFA2F3;
}

h1 {
  font-size: 4rem;
}

h2,
h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-fluido {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.transparent {
  background: transparent;
}

.col {
  flex-direction: column;
}

.border-0 {
  border: 0px;
}

.go-top-icon {
  position: fixed;
  width: 50px;
  bottom: 80px;
  right: 30px;
}

.go-top-icon:hover {
  transform: rotate(360deg);
  transition: 900ms;
}

header {
  margin: 2rem auto;
  display: flex;
  flex-direction: column !important;
  justify-content: space-evenly;
  align-items: center;
}
header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header .header-top__boton {
  background-color: transparent;
  border: none;
  margin: 0.7rem;
}
@media screen and (min-width: 768px) {
  header .header-top__boton {
    display: none;
  }
}
header .header-top__banner a img {
  width: 90%;
  filter: drop-shadow(1px 1px 1px #FFA2F3);
}
header .header-nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .header-nav {
    display: inline-flex !important;
  }
}
header .header-nav__lista {
  list-style: none;
  width: 90%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}
header .header-nav__lista__item-a {
  text-align: left;
  margin: 0.5rem;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista__item-a {
    text-align: center;
  }
}
header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
  text-decoration: none;
  color: #FFA2F3;
  width: 13rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
    font-size: 2rem;
  }
}
header .header-nav__lista__item-a__link--current {
  color: #fff;
  font-weight: bold;
}
header .header-nav__lista__item-img {
  margin: 0.5rem;
  width: 0.3rem;
}
@media screen and (max-width: 767px) {
  header .header-nav__lista__item-img {
    display: none;
  }
}
header .header-nav__lista__item-img__img {
  margin: 0;
  width: 0.3rem;
}

footer {
  margin: 1rem auto;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
}
footer .glypho {
  margin: 1rem auto;
}
footer .glypho img {
  width: 300px;
}
footer .redes {
  margin: 1rem auto;
  width: 100%;
}
footer .redes__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  footer .redes__lista {
    gap: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .redes__lista {
    gap: 6rem;
  }
}
footer .redes__lista li a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 4px #fff);
}
footer .disclaimer {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .disclaimer h6 {
  font-size: 2rem;
}

@keyframes pop-up-slide {
  from {
    right: 140rem;
  }
  to {
    right: 25rem;
  }
}
@keyframes pop-up-slide2 {
  from {
    right: 180rem;
  }
  to {
    right: 25rem;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pop-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #FFA2F3;
  color: #25367c;
  height: 5rem;
  border-radius: 0%;
}
.pop-up__anuncio-animado {
  width: 70%;
  position: absolute;
  animation-name: pop-up-slide;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.pop-up__boton-cerrar {
  position: absolute;
  right: 0.5rem;
}
.pop-up__boton-cerrar a img {
  width: 2rem;
}

.pop-up2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #25367c;
  color: #FFA2F3;
  height: 5rem;
  border-radius: 0%;
}
.pop-up2__anuncio {
  width: 80%;
  height: 100%;
  position: absolute;
  animation-name: pop-up-slide;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.pop-up2__anuncio__span {
  color: #FFA2F3;
  font-size: 1.4rem;
}
.pop-up2__btn-comprar {
  position: absolute;
  right: 3.5rem;
  width: 15%;
  padding-right: 1.5rem;
}
.pop-up2__btn-comprar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFA2F3;
  color: #25367c;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  height: 2.2rem;
  width: 10rem;
  border: solid 0.1rem #fff;
  border-radius: 1.1rem;
  text-decoration: none;
  opacity: 0;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.pop-up2__btn-comprar__link:hover {
  background-color: #25367c;
  color: #fff;
}
.pop-up2__btn-cerrar {
  position: relative;
  right: 1rem;
  width: 5%;
  padding-right: 1.5rem;
}
.pop-up2__btn-cerrar__link__img {
  width: 2rem;
}

.contenedor__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contenedor__media__poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}
.contenedor__media__poster__img {
  width: 90%;
  max-width: 95vw;
}
.contenedor__media__trailer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}
.contenedor__media__trailer__video {
  max-width: 95vw;
}

@keyframes rotacion {
  to {
    transform: rotate(360deg);
  }
}
@keyframes destello {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}
.contenedor__fondo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  height: 55vh;
}
.contenedor__fondo__img {
  opacity: 0.1;
  width: 40rem;
  animation-name: rotacion;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.contenedor__frente {
  display: flex;
  flex-direction: column !important;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 37rem;
  z-index: 1;
}
.contenedor__frente h2 {
  margin: 1rem auto;
  font-size: 2rem;
}
@media screen and (min-width:768px) {
  .contenedor__frente h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width:992px) {
  .contenedor__frente h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width:1200px) {
  .contenedor__frente h2 {
    font-size: 3.5rem;
  }
}
.contenedor__frente h3 {
  margin: 1rem auto;
  font-size: 2.5rem;
  font-weight: bold;
}
@media screen and (min-width:768px) {
  .contenedor__frente h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width:992px) {
  .contenedor__frente h3 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width:1200px) {
  .contenedor__frente h3 {
    font-size: 4rem;
  }
}
.contenedor__boton-volver {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFA2F3;
  color: #25367c;
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
.contenedor__boton-volver:hover {
  background-color: #25367c;
  color: white;
  border: solid 1px #FFA2F3;
}

.contenedor__titulo {
  color: #FFA2F3;
  text-align: center;
}
.contenedor__bloque-bio {
  margin: 2rem auto;
  background: #25367c;
  border: solid 0.1rem #FFA2F3;
  height: 60rem;
  width: 90vw;
}
.contenedor__bloque-bio__photo {
  align-self: center;
}
.contenedor__bloque-bio__subtitulo {
  color: #FFA2F3;
}
.contenedor__bloque-bio__parrafo {
  color: #FFA2F3;
}

.contenedor__titulo {
  color: #FFA2F3;
  text-align: center;
}
.contenedor__disco-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor__disco-box__link {
  text-decoration: none;
}
.contenedor__disco-box__link__card {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms;
}
.contenedor__disco-box__link__card:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 20px -10px rgb(255, 162, 243);
}
.contenedor__disco-box__link__card:hover .contenedor__disco-box__link__card__icon {
  transform: translateX(165px);
  opacity: 1;
}
.contenedor__disco-box__link__card:hover .contenedor__disco-box__link__card__cover {
  top: 400px;
  left: -400px;
  opacity: 0;
}
.contenedor__disco-box__link__card:hover h3 {
  transform: translateY(0);
  font-size: 20px;
  color: #6b087d;
  opacity: 1;
}
.contenedor__disco-box__link__card:hover h4 {
  transform: translateY(0);
  font-size: 25px;
  color: #6b087d;
  opacity: 1;
}
.contenedor__disco-box__link__card:hover p {
  transform: translateY(0);
  opacity: 1;
  color: #000;
}
.contenedor__disco-box__link__card__cover {
  width: 390px;
  height: 390px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 1;
  transition: 2s; /* Tiempo de transición de la caratula */
}
.contenedor__disco-box__link__card__icon {
  transform: translateY(100px);
}
.contenedor__disco-box__link__card__icon,
.contenedor__disco-box__link__card h4,
.contenedor__disco-box__link__card h3, .contenedor__disco-box__link__card p {
  position: relative;
  z-index: 1; /* Solo funciona si la position es relative */
  transition: all 800ms;
  opacity: 0;
}

@keyframes acercar {
  to {
    scale: 1.2;
    filter: grayscale(0);
  }
}
.contenedor__galeria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 5rem auto;
}
.contenedor__galeria__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  max-width: 430px;
  border: solid 2px #7A5CCC;
  box-shadow: inset 0 0 10px #7A5CCC, 0 0 10px #7A5CCC;
  text-align: center;
}
.contenedor__galeria__card__photo {
  width: 410px;
  max-width: 90%;
  margin: 10px;
  transition: all;
}
@media screen and (min-width: 768px) {
  .contenedor__galeria__card__photo {
    filter: grayscale(1);
  }
}
.contenedor__galeria__card__photo:hover {
  animation-name: acercar;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.contenedor__modal {
  background-color: rgba(49, 57, 92, 0.7333333333);
}
.contenedor__modal__dialogo__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  width: 100%;
}
.contenedor__modal__dialogo__box__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  border: solid 2px #FFA2F3;
  border-radius: 1rem 1rem 0 0;
  height: 5rem;
  background-color: #25367c;
  color: #25367c;
}
.contenedor__modal__dialogo__box__header__titulo {
  color: #FFA2F3;
}
.contenedor__modal__dialogo__box__header button img {
  cursor: pointer;
  width: 3rem;
}
.contenedor__modal__dialogo__box__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 12rem;
  background-color: #25367c;
  border-left: solid 2px #FFA2F3;
  border-right: solid 2px #FFA2F3;
}
.contenedor__modal__dialogo__box__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  border: solid 2px #FFA2F3;
  border-radius: 0 0 1rem 1rem;
  height: 5rem;
  background-color: #25367c;
}
.contenedor__modal__dialogo__box__footer__boton {
  background-color: #FFA2F3;
  color: #25367c;
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.contenedor__modal__dialogo__box__footer__boton:hover {
  background-color: #25367c;
  color: white;
  border: solid 1px #FFA2F3;
}
.contenedor__formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.1215686275);
  border: solid 1px #FFA2F3;
}
@media screen and (min-width:768px) {
  .contenedor__formulario {
    width: 70vw;
  }
}
@media screen and (min-width:992px) {
  .contenedor__formulario {
    width: 50vw;
  }
}
@media screen and (min-width:1200px) {
  .contenedor__formulario {
    width: 30vw;
  }
}
.contenedor__formulario__header {
  height: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contenedor__formulario__header h4 {
  color: #FFA2F3;
}
.contenedor__formulario__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contenedor__formulario__body__campo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem auto;
  position: relative;
  width: 80%;
}
.contenedor__formulario__body__campo__label {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contenedor__formulario__body__campo__input {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  height: 4.3rem;
  width: 100%;
  font-size: 1.7rem;
  border: solid 1px rgb(255, 131, 239);
  padding: 1.4rem 2rem;
}
.contenedor__formulario__body__campo__input:focus {
  box-shadow: inset 0 0 10px rgb(255, 131, 239), 0 0 10px rgb(255, 131, 239);
}
.contenedor__formulario__body__campo__text-area {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: solid 1px rgb(255, 131, 239);
  padding: 10px 20px;
  width: 100%;
}
.contenedor__formulario__body__campo__text-area:focus {
  box-shadow: inset 0 0 10px rgb(255, 131, 239), 0 0 10px rgb(255, 131, 239);
}
.contenedor__formulario__footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contenedor__formulario__footer__boton {
  background-color: #FFA2F3;
  color: #25367c;
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.contenedor__formulario__footer__boton:hover {
  background-color: #25367c;
  color: white;
  border: solid 1px #FFA2F3;
}

/*# sourceMappingURL=styles.css.map */
