* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ol,
ul {
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, #000000, #25367c);
  background-repeat: no-repeat;
  font-family: "adobe-garamond-pro", serif;
  color: #FFA2F3;
}

h1 {
  font-size: 4rem;
}

h2,
h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-fluido {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.transparent {
  background: transparent;
}

.col {
  flex-direction: column;
}

.border-0 {
  border: 0px;
}

.go-top-icon {
  position: fixed;
  width: 50px;
  bottom: 80px;
  right: 30px;
}

.go-top-icon:hover {
  transform: rotate(360deg);
  transition: 900ms;
}

header {
  margin: 2rem auto;
  display: flex;
  flex-direction: column !important;
  justify-content: space-evenly;
  align-items: center;
}
header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header .header-top__boton {
  background-color: transparent;
  border: none;
  margin: 0.7rem;
}
@media screen and (min-width: 768px) {
  header .header-top__boton {
    display: none;
  }
}
header .header-top__banner a img {
  width: 90%;
  filter: drop-shadow(1px 1px 1px #FFA2F3);
}
header .header-nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .header-nav {
    display: inline-flex !important;
  }
}
header .header-nav__lista {
  list-style: none;
  width: 90%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}
header .header-nav__lista__item-a {
  text-align: left;
  margin: 0.5rem;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista__item-a {
    text-align: center;
  }
}
header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
  text-decoration: none;
  color: #FFA2F3;
  width: 13rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  header .header-nav__lista__item-a__link, header .header-nav__lista__item-a__link--current {
    font-size: 2rem;
  }
}
header .header-nav__lista__item-a__link--current {
  color: #fff;
  font-weight: bold;
}
header .header-nav__lista__item-img {
  margin: 0.5rem;
  width: 0.3rem;
}
@media screen and (max-width: 767px) {
  header .header-nav__lista__item-img {
    display: none;
  }
}
header .header-nav__lista__item-img__img {
  margin: 0;
  width: 0.3rem;
}

footer {
  margin: 1rem auto;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
}
footer .glypho {
  margin: 1rem auto;
}
footer .glypho img {
  width: 300px;
}
footer .redes {
  margin: 1rem auto;
  width: 100%;
}
footer .redes__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  footer .redes__lista {
    gap: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .redes__lista {
    gap: 6rem;
  }
}
footer .redes__lista li a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 4px #fff);
}
footer .disclaimer {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .disclaimer h6 {
  font-size: 2rem;
}

.contenedor__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contenedor__media__poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}
.contenedor__media__poster__img {
  width: 90%;
  max-width: 95vw;
}
.contenedor__media__trailer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}
.contenedor__media__trailer__video {
  max-width: 95vw;
}

/*# sourceMappingURL=styles.css.map */
