//Colores

$pink: #FFA2F3;

$purple: #6b087d;

$blue: #25367c;


//Breakpoints desde

$small: 'min-width:576px';

$medium: 'min-width:768px';

$large: 'min-width:992px';

$x-large: 'min-width:1200px';

$xx-large: 'min-width:1400px';


//Breakpoints hasta

$less-small: 'min-width:575px';

$less-medium: 'min-width:767px';

$less-large: 'min-width:991px';