@import '../mixins/mixins';
@import '../var/variables';

//Animaciones

@keyframes rolling-disc {
    to{
        transform: rotate(360deg);
    }
}

.disc-name{
    @include m-10-auto;
    color: #fff;    
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.box-discografia{

    @include flex-col-start-center;

    &__top{
        @include flex-col-start-center;

        @media screen and ($medium){
            &{
                @include flex-evenly-center;
                flex-wrap: wrap;
            }
        }

        &__cover-front{

            @include flex-center;

            margin: 1rem;
            padding: 1rem;
            min-width: 40rem;
            max-width: 43rem;


            border: solid 2px #7A5CCC;
            box-shadow: inset 0 0 10px #7A5CCC, 0 0 10px #7A5CCC;

            &__image{
                width: 41rem;
                max-width: 90%;
                margin: 10px;
            }
        }
        
        &__disk{
            @include flex-center;

            margin: 1rem;
            padding: 1rem;
            min-width: 40rem;
            max-width: 43rem;


            border: solid 2px #7A5CCC;
            box-shadow: inset 0 0 10px #7A5CCC, 0 0 10px #7A5CCC;
            
            &__image{
                width: 41rem;
                max-width: 90%;
                margin: 10px;

                animation-name: rolling-disc;
                animation-duration: 12s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }

        &__cover-back{
            @include flex-center;

            margin: 1rem;
            padding: 1rem;
            min-width: 40rem;
            max-width: 43rem;

            border: solid 2px #7A5CCC;
            box-shadow: inset 0 0 10px #7A5CCC, 0 0 10px #7A5CCC;
            
            &__image{
                width: 410px;
                max-width: 90%;
                margin: 10px;
            }
        }
    }

    &__center{

        &__info{
            margin: 1rem;
            padding: 1rem;
            min-width: 90%;            
            
            &__titulo{
                font-family: 'Open Sans', sans-serif;
                color: $pink;
                font-size: 2.2rem;
                font-weight: bold;                
            }

            &__parrafo{
                font-family: 'Open Sans', sans-serif;
                line-height: 2;
                color: #fff;
                font-size: 1.6rem;
                text-align: justify;
            }
        }
    }

    &__bottom{
        @include flex-col-start-center;        
        gap: 5rem;        
    }
}