@import '../mixins/mixins';
@import '../var/variables';

html{
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(to bottom, #000000, #25367c);
    background-repeat: no-repeat;
    font-family: "adobe-garamond-pro", serif;    
    color: $pink;    
}

h1{
    font-size: 4rem;
}

h2,
h3{
    font-size: 3rem;
}

h4,
h5{
    font-size: 2.5rem;
}

ol,
ul, dl{
    list-style: none;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.centered{
    @include flex-center;
}

.contenedor{
    @include flex-col-start-center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-fluido{
    @include flex-col-start-center;
    width: 100%;    
}

.hide{
    display: none !important;
}

.transparent{
    background: transparent;
}

.col{
    flex-direction: column;
}

.border-0{
    border: 0px;
}

.go-top-icon{
    position: fixed;
    width: 50px;
    bottom: 80px;
    right: 30px;        
}

.go-top-icon:hover{
    transform: rotate(360deg);
    transition: 900ms;
}